html{
    height: 100%;
    min-height: 100%;
}

body{
    height: 100%;
    min-height: 100%;
    background-color: rgb(224, 205, 218);
}

.body-print{
    background-color: #fff !important;
}

.header{
    width: 100%;
    min-width: 100%;
    height: 10%;
    min-height: 10%;
    background-color: #fff;
    margin-top: 0px;
    align-content: center;
}

.header > div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
}

.header > div > img {
    width: 12%;
}

.menu{
    width: 17%;
    min-width: 15%;
    height: 100%;
    min-height: 100%;
    background-color: rgb(243, 232, 232);
    overflow-y: scroll;
}

.menu-item{
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    align-content: center;
}

.menu-item > a{
    color: #000;
}

.body-center{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.login-card{
    width: 30% !important;
    background-color: orange !important;
}

.card-body{
    width: 100%;
}

.button-form{
    width: 100%;
}

.button-form > button{
    margin-top: 20px;
    width: 100%;
}

.form-link{
    width: 100%;
}

.form-image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-image > img{
    width: 50%;
}

.full-center{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.full-start{
    width: 100%;
    justify-content:flex-start;
}

.slds-nav-vertical_shade .slds-is-active .slds-nav-vertical__action {
    border: none !important;
}

.content-body{
    padding: 20px;
    width: 83%;
}

.body-container{
    display: flex;
    height: 90%;
    min-height: 90%;
    width: 100%;
}

.card-body{
    padding: 20px;
}

.button-action, .button-action-start{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: end;
}

.button-action-start{
    justify-content: start !important;
}

.label-close{
    color: #fff;
    font-size:15px;
    font-weight: bolder;
}

.button-close{
    background-color: transparent;
    border: none;
}

.field-group{
    display: flex;
    align-items: flex-end;
}

.field-group > .slds-form-element{
    margin-right: 20px;
}

.field-group-title{
    margin-top: 20px;
}

.buttom-group{
    justify-content: end;
    align-items: flex-end;
    align-content: flex-end;
}

.readonly-group-field{
    margin-top: 20px !important;
}

.read-only-input{
    cursor: none;
}

#barcode-container{
    display: none;
}

.barcode-element{
    width: 25%;
    margin-top: 15px;
}

#button-print, #print-label{
    margin-top: 10px;
    width: 100%;
}

.print-container{
    display: flex;
    flex-direction: column;
    width: 185px;
}

.print-value-price, .print-value-size{
    width: 80%;
}

.print-value-size{
    margin-left: 10px;
}

.print-value-price{
    margin-left: 10px;
}

.print-label-container{
    display: flex;
    flex-direction: row;
}

.input-group{
    display: flex;
    flex-direction: column;
}

.input-group > div{
    border: solid 0.5px rgb(196, 195, 195);
    border-radius: 5px;
    padding: 5px;
}

.input-group > div > input{
    width: 100%;
    border: none;
    height: 20px;
    font-size: 1rem;
}

.input-group > label{
    font-weight: bolder;
    font-size: 0.8rem;
}

.cash-container{
    display: flex;
    flex-direction: row;
}

.sell-products-table{
    height: 70%;
}

.sell-details{
    width: 55%;
    height: 100%;
    border: solid rgb(216, 215, 215) 0.5px;
    padding: 10px;
    border-radius: 5px;
}

.sell-actions{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 40%;
    border: solid rgb(216, 215, 215) 0.5px;
    padding: 10px;
    border-radius: 5px;
}

.table-icon{
    max-width: 40% !important;
    height: auto !important;
}

.products-table{
    margin-top: 10px;
}

.sell-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 75%;
}

.sell-price-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sell-confirm{
    margin-top: 20px;
}

.row-align-bottom{
    align-items: flex-end;
}

.cutomer-docs > div + div{
    margin-left: 20px;
}

.get-customer{
    margin-left: 10px;
}

.discount-field{
    display: flex;
}

.discount-field div + div{
    margin-left: 10px;
}

@media print {
    body, .body-print {
        visibility: hidden;
    }
    .printable {
        visibility: visible;
    }
    
    @page {
        margin:0;
    }
}

.td_10{
    width: 10%;
}

.td_20{
    width: 20%;
}

.td_30{
    width: 30%;
}

.td_40{
    width: 40%;
}

.td_50{
    width: 50%;
}

.td_60{
    width: 60%;
}

.td_70{
    width: 70%;
}

.td_80{
    width: 80%;
}

.td_90{
    width: 90%;
}

.td_100{
    width: 100%;
}